
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.container
  .hero-unit
    h1 Zebibits
    p We want to create modern digital pets for the mobile era and make social games have real social elements.
    
.container
  .hero-unit
    h1#about About Us
    p We currently have a team of a size of two.

.container
  .hero-unit
    h1#contact Contact
    p To contact us, please email at zebibits@gmail.com
